.application {
  background: url("../img/background-mobile.jpg") no-repeat top;
  padding-top: 95px;
  outline: 5px solid rgba(250, 50, 145, 0.7);
  outline-offset: -5px;
}

.application__headline {
  margin: 0;
  margin-bottom: 300px;
}
