.button {
  font-family: $font-main;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  font-style: normal;
  text-align: center;
  border-radius: 30px;
  background-color: transparent;
  padding: 16px 0;
  width: 280px;

  &--form {
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 1px;
    border: 2px solid $button-form;
    color: $basic-white;
    background-color: $button-form;
  }

  &--application {
    border: 3px solid $basic-white;
    color: $basic-white;
    display: inline-block;
    vertical-align: top;
  }

  &--post {
    border: 3px solid $basic-pink;
    color: $basic-pink;
  }

  &--cancel {
    border: 3px solid $basic-darkblue;
    color: $basic-darkblue;
    opacity: 0.1;
  }
}
