.catalog-upload {
  background-color: $basic-white;
}

.catalog-upload__text {
  margin: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}
