.characteristics__intro {
  @include background-transition;
  padding: 46px 0 70px 0;
  background-color: $basic-white;
  outline: 5px solid rgba(100, 250, 145, 0.7);
  outline-offset: -5px;
}

.characteristics__slogan:first-of-type {
  margin-bottom: 40px;
}

.characteristics__advantages {
  padding-top: 129px;
  padding-bottom: 43px;
  background-color: $basic-lightgrey;
  outline: 5px solid rgba(50, 50, 145, 0.7);
  outline-offset: -5px;
}

.characteristics__item {
  margin-bottom: 43px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.characteristics__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 24px;
}

.characteristics__description {
  margin: 0;
}
