.characteristics {
  background-color: $basic-white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/information-background.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    top: 17.5%;
    left: 0;

    @media (min-width: $tablet-width) {
      background-image: url("../img/information-background-tablet.svg");
      top: 30%;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/information-background-desktop.svg");
      top: 33.5%;
    }
  }
}

.characteristics__intro {
  padding: 42px 0 64px 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 48px 0 86px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 0 68px 0;
  }
}

.characteristics__slogan:first-of-type {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.characteristics__advantages {
  padding: 51px 0 289px 0;

  @media (min-width: $tablet-width) {
    padding: 18px 0 8px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 346px 0 40px 0;
  }
}

.characteristics__advantages-container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.characteristics__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 310px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 892px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.characteristics__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-right: 68px;
    width: 252px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &--mood {
    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-1.png") no-repeat 0 0;
        left: 3.5%;
        top: -161%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-1@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: -3%;
        top: -29%;
      }
    }
  }

  &--world {
    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-2.png") no-repeat 0 0;
        left: 39.5%;
        top: -161%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-2@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: 33%;
        top: -29%;
      }
    }
  }

  &--friends {
    &::before {
      content: "";
      width: 157px;
      height: 320px;
      position: absolute;
      background: url("../img/application-mobile.png") no-repeat 0 0;
      bottom: -94%;
      right: 25.5%;

      @media (min-resolution: 2dppx) {
        background: url("../img/application-mobile@2x.png") no-repeat 0 0;
        background-size: 157px 320px;
      }

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 547px;
        background: url("../img/application-tablet.png") no-repeat 0 0;
        bottom: -19%;
        left: 3%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-tablet@2x.png") no-repeat 0 0;
          background-size: 268px 547px;
        }
      }

      @media (min-width: $desktop-width) {
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-3.png") no-repeat 0 0;
        left: 76%;
        top: -161%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-3@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: 70%;
        top: -29%;
      }
    }
  }
}

.characteristics__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px;
  }
}

.characteristics__linebreak {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.characteristics__linebreak-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.characteristics__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
