.characteristics {
  background-color: $basic-white;
}

.characteristics__intro {
  @include background-transition;
  padding: 44px 0 70px 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 58px 0 108px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 174px 0;
  }
}

.characteristics__slogan:first-of-type {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.characteristics__advantages {
  padding-top: 200px;
  padding-bottom: 295px;
  background-color: $basic-lightgrey;

  @media (min-width: $tablet-width) {
    padding-top: 150px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 390px;
    padding-bottom: 40px;
  }
}

.characteristics__advantages-container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.characteristics__list {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 310px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 892px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}

.characteristics__item {
  margin-bottom: 30px;

  &--mood {
    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-1.png") no-repeat 0 0;
        left: 4%;
        top: -170%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-1@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: -2%;
        top: -32%;
      }
    }
  }

  &--world {
    &::before {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-2.png") no-repeat 0 0;
        left: 40%;
        top: -170%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-2@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: 34%;
        top: -32%;
      }
    }
  }

  &--friends {
    &::before {
      content: "";
      width: 157px;
      height: 320px;
      position: absolute;
      background: url("../img/application-mobile.png") no-repeat 0 0;
      bottom: -96%;
      right: 25%;

      @media (min-resolution: 2dppx) {
        background: url("../img/application-mobile@2x.png") no-repeat 0 0;
        background-size: 157px 320px;
      }

      @media (min-width: $tablet-width) {
        width: 268px;
        height: 547px;
        background: url("../img/application-tablet.png") no-repeat 0 0;
        bottom: -16%;
        left: 3%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-tablet@2x.png") no-repeat 0 0;
          background-size: 268px 547px;
        }
      }

      @media (min-width: $desktop-width) {
        width: 186px;
        height: 302px;
        background: url("../img/application-desktop-3.png") no-repeat 0 0;
        left: 75%;
        top: -170%;

        @media (min-resolution: 2dppx) {
          background: url("../img/application-desktop-3@2x.png") no-repeat 0 0;
          background-size: 186px auto;
        }
      }
    }

    &::after {
      @media (min-width: $desktop-width) {
        content: "";
        position: absolute;
        width: 300px;
        height: 10px;
        background: url("../img/shadow.png") no-repeat 0 0;
        left: 68%;
        top: -32%;
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    margin-right: 68px;
    width: 252px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.characteristics__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.characteristics__linebreak {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.characteristics__description {
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
