.choice {
  position: relative;

  &--checkbox {
    padding-left: 58px;
  }

  &--radio {
    padding-left: 70px;

    @media (min-width: $tablet-width) {
      padding-left: 62px;
    }
  }
}

.choice__label {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  user-select: none;

  &--checkbox::before {
    content: "";
    width: 39px;
    height: 39px;
    background-color: $basic-white;
    border: 2px solid $basic-grey;
    border-radius: 1px;
    position: absolute;
    left: 0;
    top: -4px;
  }

  &--radio::before {
    content: "";
    width: 42px;
    height: 42px;
    background-color: $basic-white;
    border: 2px solid $basic-grey;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -5px;
  }

  &:hover::before {
    border-color: $basic-darkblue;
  }

  &:active::before {
    border-color: $basic-pink;
  }
}

.choice__input {
  &:checked + .choice__label--checkbox::after {
    content: "";
    width: 22px;
    height: 16px;
    background: url("../img/tick.svg") no-repeat 0 0;
    position: absolute;
    left: 9px;
    top: 7px;
  }

  &:checked + .choice__label--radio::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $basic-pink;
    position: absolute;
    left: 13.5px;
    top: 9px;
  }
}
