.contacts {
  background-color: $basic-white;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
  }
}

.contacts__list {
  margin-top: 44px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
  }
}

.contacts__item {
  margin-bottom: 31px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    &--telephone {
      order: 1;
    }

    &--email {
      order: 3;
    }

    &--address {
      order: 2;
    }
  }
}

.contacts__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: $basic-pink;
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;

  &:hover {
    color: $basic-darkblue;
    text-decoration: underline;
  }

  &:active {
    opacity: 30%;
  }
}

.contacts__map {
  clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);

  width: 100vw;
  min-width: 320px;
  max-width: 1200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}
