.download {
  background-color: $background-download-list;
  padding: 28px 0 38px 0;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    padding: 0;
  }
}

.download__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__buttom {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download__list {
  margin: 38px 0 30px 0;
  width: 204px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 46px 0 40px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 67px 0 58px 0;
  }
}

.download__description {
  font-weight: 300;
  color: $basic-white;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
