.download {
  background-color: $background-download-list;
  padding: 28px 0 38px 0;
}

.download__list {
  margin-top: 32px;
  margin-bottom: 28px;
}

.download__description {
  font-weight: 300;
  color: $basic-white;
  margin: 0;
}
