.edit {
  background-color: $basic-lightgrey;
  padding: 20px 0 40px 0;
}

.edit__link {
  background-color: $basic-darkblue;
  display: inline-block;
  vertical-align: top;
}

.edit__image {
  display: block;
}

.edit__phone-filters {
  margin: 40px 0;
}

.edit__block-range {
  margin-bottom: 73px;
}
