.edit {
  background-color: $basic-lightgrey;
  padding: 20px 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 56px 0;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
    padding: 0;
    margin-bottom: 30px;
  }
}

.edit__form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows:
      1fr
      1fr;
    column-gap: 20px;
    row-gap: 55px;

    grid-template-areas:
      "picture edit"
      "picture buttons";
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 56px 60px 56px 80px;
    background-color: $basic-lightgrey;
    grid-template-columns: 300px 410px;
    grid-template-rows:
      1fr
      1fr;
    column-gap: 90px;
    row-gap: 44px;
  }
}

.edit__link {
  background-color: $basic-darkblue;
  display: inline-block;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    grid-area: picture;
  }
}

.edit__image {
  display: block;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

.edit__wrapper {
  margin: 41px 0 64px 0;

  @media (min-width: $tablet-width) {
    grid-area: edit;
    justify-self: end;
    margin: 0;
  }
}

.edit__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    justify-content: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-width) {
    width: 275px;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
    padding-left: 3px;
    padding-top: 10px;
    align-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    padding-top: 0;
    padding-left: 0;
  }
}

.edit__filter {
  border: none;
  display: block;
  background-color: transparent;
  width: 48px;
  padding: 0;

  @media (max-width: $mobile-width-only) {
    color: $basic-darkblue;
    opacity: 30%;
    cursor: pointer;
    margin-right: 35px;
    margin-bottom: 34px;

    &--active {
      color: $basic-pink;
      opacity: 100%;
    }

    &:hover:not(.edit__filter--active) {
      opacity: 50%;
    }

    &:nth-of-type(1) {
      order: -3;
    }

    &:nth-of-type(2) {
      order: -2;
    }

    &:nth-of-type(3) {
      order: -1;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    margin-right: 28px;
    color: $basic-pink;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    margin-right: 44px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.edit__filter-icon {
  display: block;
  fill: currentColor;
  max-width: 50px;
  max-height: 50px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    max-width: 24px;
    max-height: 22px;
  }

  &--mobile-desktop {
    max-width: 50px;
    max-height: 50px;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.edit__label-range {
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: $basic-darkblue;
    opacity: 10%;
    position: absolute;
    bottom: -28px;

    @media (min-width: $tablet-width) {
      width: 275px;
      left: 42%;
    }

    @media (min-width: $desktop-width) {
      width: 410px;
      left: 39%;
      bottom: -26px;
    }
  }

  @media (max-width: $mobile-width-only) {
    order: 3;
  }

  &--hidden {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &:last-of-type::before {
      display: none;
    }
  }
}

.edit__range {
  margin: 0;
  width: 240px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.edit__block-buttons {
  @media (min-width: $tablet-width) {
    grid-area: buttons;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: flex-end;
    padding-right: 12px;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    justify-self: normal;
    justify-content: space-between;
    padding-right: 0;
  }
}

.edit__button {
  width: 280px;

  &:first-of-type {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    width: 260px;

    &:first-of-type {
      margin-bottom: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 183px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}
