.filling-input {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $basic-darkblue;
  border: 2px solid $basic-grey;
  border-radius: 1px;
  padding: 14px 18px;
  resize: none;
  position: relative;
  background-color: $basic-white;

  &::placeholder {
    color: $basic-darkblue;
  }

  &:hover {
    border-color: $basic-darkblue;
  }

  &:focus {
    outline: none;
    border-color: $basic-pink;
  }

  @media (max-width: $mobile-width-only) {
    width: 280px;
  }
}
