.filling-input {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $basic-darkblue;
  border: 2px solid $basic-grey;
  border-radius: 1px;
  padding: 14px 18px;
  resize: none;

  &::placeholder {
    color: $basic-darkblue;
  }

  @media (max-width: $mobile-width-only) {
    width: 280px;
  }
}
