.page-header {
  background-color: blue;
}

.page-header__application-wrapper {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    width: 660px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 102px;
    padding-bottom: 118px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 114px;
    padding-bottom: 130px;
  }
}

.page-header__content {
  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.page-header__headline-main {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 320px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.page-header__headline-form {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 104px;
  }
}

.page-header__headline-catalog {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 84px;

  @media (min-width: $tablet-width) {
    padding-top: 81px;
    padding-bottom: 143px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 104px;
  }
}
