.page-footer {
  padding: 40px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 70px 0;
  }
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo-link,
.page-footer__copyright-link,
.page-footer__social-link {
  display: inline-block;
  vertical-align: top;
}

.page-footer__logo,
.page-footer__htmlacademy-logo {
  display: block;
}

.page-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 172px;
  margin: 41px 0;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__social-link {
  width: 51px;
  height: 51px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid rgba($basic-darkblue, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: $basic-darkblue;
  }

  &:active {
    opacity: 30%;
  }
}

.page-footer__copyright {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 130px;

  @media (max-width: $mobile-width-only) {
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 153px;
  }
}

.page-footer__copyright-text {
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.page-footer__htmlacademy-logo {
  &:hover path {
    fill: $basic-darkblue;
  }

  &:active {
    opacity: 0.3;
  }
}
