.pop-up {
  width: 320px;
  position: fixed;
  top: 120px;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: $basic-white;
  box-shadow: 0 7px 15px $box-shadow-dark;
  margin: auto;
  text-align: center;
  z-index: 100;
  display: none;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }

  &--failure {
    padding-top: 38px;
    padding-bottom: 50px;

    @media (min-width: $tablet-width) {
      padding-top: 40px;
      padding-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
    }
  }

  &--success {
    padding-top: 38px;

    @media (min-width: $tablet-width) {
      padding-top: 40px;
    }
  }
}

.pop-up__wrapper {
  &--failure {
    padding-right: 20px;
    padding-left: 20px;

    @media (min-width: $tablet-width) {
      padding-right: 80px;
      padding-left: 80px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 214px;
      padding-left: 214px;
    }
  }

  &--success {
    padding-left: 27px;
    padding-right: 27px;

    @media (min-width: $tablet-width) {
      padding-right: 74px;
      padding-left: 74px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 192px;
      padding-right: 192px;
    }
  }
}

.pop-up__wrapper-button-success {
  background-color: $basic-lightgrey;
  padding: 50px 0 48px 0;
}

.pop-up__wrapper-button-failure {
  @media (min-width: $desktop-width) {
    background-color: $basic-lightgrey;
    padding: 50px 0;
  }
}

.pop-up__title {
  font-weight: 700;
  font-size: 18px;
  color: $basic-black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.pop-up__text {
  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  &--failure {
    margin: 24px 0 40px 0;

    @media (min-width: $tablet-width) {
      margin: 24px 0 32px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 22px 0 62px 0;
    }
  }

  &--success {
    margin: 24px 0 34px 0;

    @media (min-width: $tablet-width) {
      margin: 24px 0 30px;
    }

    @media (min-width: $desktop-width) {
      margin: 24px 0 38px 0;
    }
  }
}

.pop-up__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--success {
    @media (min-width: $desktop-width) {
      width: 460px;
    }
  }
}

.pop-up__linebreak-failure {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.pop-up__linebreak-success {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
