.pop-up {
  width: 320px;
  position: fixed;
  top: 120px;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: $basic-white;
  box-shadow: 0 4px 20px $box-shadow-dark;
  margin: auto;
  text-align: center;
  display: none;

  &--failure {
    padding: 40px 0 50px 0;
  }

  &--success {
    padding-top: 40px;
  }
}

.pop-up__title {
  font-weight: 700;
  font-size: 18px;
  color: $basic-black;
  margin: 0;
}

.pop-up__text {
  margin: 30px 0 34px 0;
}

.pop-up__block-button {
  background-color: $basic-lightgrey;
  padding: 50px 0;
}
