.range {
  appearance: none;
  background: transparent;
  margin: $thumb-height / 2 0;

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;

    &::-ms-fill-lower {
      background: $track-color;
    }
  }

  &::-webkit-slider-runnable-track {
    @include track;
    background: $track-color;
  }

  &::-webkit-slider-thumb {
    @include thumb;
    appearance: none;
    margin-top: (
      (-$track-border-width * 0.5 + $track-height) / 2 - $thumb-height / 2
    );
  }

  &::-moz-range-track {
    @include track;
    background: $track-color;
    height: $track-height;
  }

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-track {
    @include track;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-upper {
    background: $track-color;
  }

  &::-ms-thumb {
    @include thumb;
    margin-top: $track-height / 4;
  }

  &:disabled {
    &::-webkit-slider-thumb,
    &::-moz-range-thumb,
    &::-ms-thumb,
    &::-webkit-slider-runnable-track,
    &::-ms-fill-lower,
    &::-ms-fill-upper {
      cursor: not-allowed;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $basic-pink;
  }

  &:active::-moz-range-thumb {
    background: $basic-pink;
  }

  &:active::-ms-thumb {
    background: $basic-pink;
  }
}
