.research {
  display: none;

  @media (min-width: $tablet-width) {
    padding: 102px 0 120px 0;
    background-color: $basic-white;
    outline: 5px solid rgba(100, 250, 145, 0.7);
    outline-offset: -5px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-lightgrey;
  }
}

.research .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.research__block {
  width: 310px;

  @media (min-width: $desktop-width) {
    width: 534px;
  }
}

.research__subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $basic-black;
  margin: 0;
  width: 168px;

  @media (min-width: $desktop-width) {
    line-height: 30px;
    width: auto;
  }
}

.research__description {
  margin-top: 24px;
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-top: 36px;
    margin-bottom: 46px;
  }
}

.research__link {
  color: $basic-pink;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
