.reviews {
  @include background-transition;
  background-color: $basic-white;
  padding: 50px 0 60px 0;
  outline: 5px solid rgba(100, 50, 145, 0.7);
  outline-offset: -5px;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding: 193px 0 90px 0;
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    color: $basic-darkblue;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__description {
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.reviews__toogles {
  margin: 0;
}
