.reviews {
  @include background-transition;
  background-color: $basic-white;
  padding: 50px 0 60px 0;
  text-align: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 50px 0 80px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 193px 0 150px 0;

    @media (min-width: $desktop-width) {
      &::before {
        content: "";
        width: 79px;
        height: 63px;
        position: absolute;
        top: 72px;
        left: 47%;
        background: url("../img/quotes.svg") no-repeat 0 0;
      }
    }
  }
}

.reviews__list {
  position: relative;
}

.reviews__item {
  display: none;
  margin: 0;

  &--current {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
  }
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    font-style: normal;
    color: $basic-darkblue;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__description {
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 688px;
  }
}

.reviews__previous,
.reviews__next {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    border: none;
    width: 22px;
    height: 41px;
    background-color: transparent;
    position: absolute;
    top: 30px;
    cursor: pointer;
  }
}

.reviews__previous {
  @media (min-width: $desktop-width) {
    left: -6px;
  }
}

.reviews__next {
  @media (min-width: $desktop-width) {
    right: 6px;
  }
}

.reviews__arrow {
  &:hover path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.1;
  }
}

.reviews__toogles {
  margin-bottom: 0;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    margin-top: 38px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
