.slider-toogles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 58px;
  margin-right: auto;
  margin-left: auto;
}

.slider-toogles__toogle {
  width: 6px;
  height: 6px;
  background-color: rgba($basic-black, 0.3);
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  &:hover:not(.slider-toogles__toogle--current) {
    background-color: rgba($basic-black, 0.6);
  }

  &:active:not(.slider-toogles__toogle--current) {
    background-color: rgba($basic-black, 0.1);
  }

  &--current {
    background-color: $basic-white;
    padding: 3px;
    border: 3px solid $basic-darkblue;
  }
}
