.tarif {
  background-color: $basic-lightgrey;
  padding: 209px 0 49px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.tarif__table {
  border-collapse: collapse;
  display: none; /*временно */

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.tarif__table-header {
  font-weight: 700;
  font-size: 16px;
  background-color: $basic-darkblue;
  color: $basic-white;
  border: 2px solid $basic-darkblue;
  text-transform: uppercase;
  border-radius: 1px;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    border-right-color: $basic-lightgrey;
  }

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    padding-bottom: 11px;
    min-width: 156px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 22px;
    min-width: 233px;
  }
}

.tarif__price {
  font-weight: 300;
  font-size: 18px;
  display: block;
  margin-top: 6px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tarif__table-data {
  color: $basic-darkblue;
  background-color: $basic-white;
  border: 2px solid $basic-grey;
  position: relative;
  padding: 18px;

  @media (max-width: $mobile-width-only) {
    &:first-of-type {
      @include visually-hidden;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 156px;
    padding: 12px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    padding: 20px;
    font-size: 18px;
  }
}

.tarif__text-mobile {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tarif__value {
  &--yes {
    content: "";
    position: absolute;
    width: 31px;
    height: 21px;
    background: url("../img/yes.svg") no-repeat 0 0;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 60px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      left: 100px;
    }
  }

  &--no {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background: url("../img/no.svg") no-repeat 0 0;

    @media (min-width: $tablet-width) {
      top: 13px;
      left: 60px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
      left: 100px;
    }
  }
}

.tarif__toogles {
  margin-bottom: 0;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
