.tarif {
  background-color: $basic-lightgrey;
  padding: 213px 0 46px 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
    padding-top: 188px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
    padding-top: 203px;
  }
}

.tarif__slider {
  overflow: hidden;
}

.tarif__table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;
  width: 840px;

  @media (min-width: $tablet-width) {
    position: static;
    left: auto;
    transform: none;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.tarif__table-header {
  font-weight: 700;
  font-size: 16px;
  background-color: $basic-darkblue;
  color: $basic-white;
  border: 2px solid $basic-darkblue;
  text-transform: uppercase;
  border-radius: 1px;
  padding-top: 12px;
  padding-bottom: 29px;
  position: relative;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    border-right-color: $basic-lightgrey;
  }

  &--hit {
    &::before {
      content: "";
      width: 70px;
      height: 71px;
      position: absolute;
      background: url("../img/hit-mobile.svg") no-repeat 0 0;
      left: 0;
      top: -2px;

      @media (min-width: $tablet-width) {
        width: 61px;
        height: 61px;
        background: url("../img/hit-tablet.svg") no-repeat 0 0;
      }

      @media (min-width: $desktop-width) {
        width: 74px;
        height: 74px;
        background: url("../img/hit-desktop.svg") no-repeat 0 0;
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding-top: 18px;
    padding-bottom: 22px;
    min-width: 233px;
  }
}

.tarif__price {
  font-weight: 300;
  font-size: 18px;
  display: block;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-top: 6px;
  }
}

.tarif__table-data {
  color: $basic-darkblue;
  background-color: $basic-white;
  border: 2px solid $basic-grey;
  padding: 17px 17px 16px 20px;

  @media (max-width: $mobile-width-only) {
    &:first-of-type {
      @include visually-hidden;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 153px;
    padding: 10px 15px 9px 15px;
  }

  @media (min-width: $desktop-width) {
    min-width: 233px;
    padding: 16px 22px 17px 22px;
    font-size: 18px;
  }

  &:first-of-type {
    @media (max-width: $mobile-width-only) {
      @include visually-hidden;
    }
  }
}

.tarif__feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: center;
  }
}

.tarif__text-mobile {
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tarif__value {
  content: "";

  &--yes {
    width: 31px;
    height: 21px;
    background: url("../img/yes.svg") no-repeat 0 0;
  }

  &--no {
    width: 27px;
    height: 27px;
    background: url("../img/no.svg") no-repeat 0 0;
  }
}

.tarif__toogles {
  margin-bottom: 0;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
