.text-filling__text {
  line-height: 30px;
  color: $basic-pink;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 23px;
  margin-bottom: 8px;
}

.text-filling__input {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: $basic-darkblue;
  border: 2px solid $basic-grey;
  border-radius: 1px;
  padding: 14px 18px;
  width: 280px;
  resize: none;

  &::placeholder {
    color: $basic-darkblue;
  }
}
