//Colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-darkblue: #283645;
$basic-pink: #d22856;
$basic-grey: #e5e5e5;
$basic-lightgrey: #f2f2f2;

$background-download-list: #1d2631;

$button-form: #2aab6d;
$hover-button-form: #1c9b5e;

//box-shadow

$box-shadow-light: rgba(255, 255, 255, 0.15);
$box-shadow-dark: rgba(0, 0, 0, 0.15);

// Fonts

$font-main: "Open Sans", "Arial", sans-serif;

// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
